<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Dashboard</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="shadow-sm mb-5 bg-body rounded">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #97d3fc;">
                <div class="container-fluid">
                    <a class="navbar-brand btn disabled" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                {% if session["user"] %}
                                    <a class="nav-link active" aria-current="page" href="/customer">Customer</a>
                                {% else %}
                                    <a class="nav-link active" aria-current="page" href="/login">Customer</a>
                                {% endif %}
                            </li>
                            <li class="nav-item">
                                {% if session["user"] %}
                                    <a class="nav-link active" aria-current="page" href="/roomtype">Room Type</a>
                                {% else %}
                                    <a class="nav-link active" aria-current="page" href="/login">Room Type</a>
                                {% endif %}
                            </li>
                            <li class="nav-item">
                                {% if session["user"] %}
                                    <a class="btn nav-link active" aria-current="page" href="/report">Report</a>
                                {% else %}
                                    <a class="btn nav-link active" aria-current="page" href="/login">Report</a>
                                {% endif %}
                            </li>
                        </ul>
                        {% if session["user"] %}
                        <span class="navbar-text">
                            You are logged in as {{ session["user"] }}. <a href="/logout">Log out</a>
                        </span>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
        
        <script
        type="text/javascript"
        charset="utf8"
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        ></script>
        <script
        type="text/javascript"
        charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"
        ></script>

        {% block body %}{% endblock %}        
    </body>
</html>