{% extends "layout.html" %}

{% block body %}
    {% if returnValue == 1 %}
        <div class="w-25 p-3 container">
                {% if reps |length != 0 %}
                    <table class="table text-black mb-4 text-left table-hover">
                        <thead>
                            <th>Month</th>
                            <th>Number of customer</th>
                        </thead>
                        <tbody>
                            {% for rep in reps %}
                            <tr>
                                <td>{{ rep["month"] }}</td>
                                <td>{{ rep["total_customer"] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        No entry.
                    </div>
                {% endif %}
            <form action="/report">
                <button class="btn btn-primary">New report</button>
            </form>
        </div>
    {% else %}
        <div class="w-50 p-3 container">
            <form action="/report" method="post">
                <div class="form-group mb-3">
                    <label class="mb-1 ps-2">Branch</label>
                    <input type="text" name="branch" class="form-control" placeholder="Branch">
                </div>

                <div class="form-group mb-3">
                    <label class="mb-1 ps-2">Year</label>
                    <input type="text" name="year" class="form-control" placeholder="Year">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endif %}
{% endblock%}